<div class="navigation-bar">
    <div class="temporary-navbar">
        <h4>
            TODO: Navigation Bar here, implement once the contents of the landing page has been decided.
        </h4>
    </div>
</div>

<header id="parallax-header" class="parallax-header">
    <div id="parallax-layer-1" class="parallax-layer-1"></div>
    <div id="parallax-layer-2" class="parallax-layer-2"></div>
    <div id="parallax-layer-3" class="parallax-layer-3"></div>
</header>

<section class="login-section">
    <div class="col-md-6 offset-md-2">
        <h3 class="member-notes">
            Already a member of OOCTC?
        </h3>
        <form class="login-form">
            <input class="username" type="text" placeholder="Username">
            <input class="password" type="password" placeholder="Password">
            <button class="btn btn-success" type="submit">Log In</button>
            <p class="registration-notes">
                Registration is thru invitation only. Contact the admin to get an account.
            </p>
        </form>
    </div>
</section>

<div class="parallax-section-1"></div>

<section *ngFor="let i of [1, 2, 3]">
    <div class="col-md-6 offset-md-2">
        <h3>
            Section Title
        </h3>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." "Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</section>