/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "../node_modules/bootstrap/scss/bootstrap";
@import "app/shared/styles/_variables.scss";

html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

body {
    height: 100%;
    width: 100%;
    color: $primary-color-text;
    background-color: $background-color;

    p {
        color: $primary-text-color;
    }
}

input {
    border-radius: 8px;
    padding: .3em .8em;
}

/*** Angular 2 link without href ***/
a:not([href]) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
