/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/bootstrap/scss/bootstrap";

html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

body {
    height: 100%;
    width: 100%;
}

input {
    border-radius: 8px;
    padding: .3em .8em;
}